@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">PompeiiSquare</h1>
    <p class="text-center">Find the best places to eat, drink, shop, or visit in any city in the world.</p>
    <div class="text-center">
        <input name="looking-for" class="form-control input-lg" type="text" value="I'm looking for...">
        <input name="location" class="form-control input-lg" type="text" value="Your location">
        <a href="#" class="btn btn-success btn-lg">Search</a>
    </div>
    <div class="text-center">
        <a href="@Url.Action("SearchByGroup", "Venues", new { id = "Drinks", Area = "VenueAdministrator" })" class="btn btn-default"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Drinks</a>
        <a href="@Url.Action("SearchByGroup", "Venues", new { id = "Food", Area = "VenueAdministrator" })" class="btn btn-default"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Food</a>
        <a href="@Url.Action("SearchByGroup", "Venues", new { id = "Fun", Area = "VenueAdministrator" })" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Fun</a>
        <a href="@Url.Action("SearchByGroup", "Venues", new { id = "NightLife", Area = "VenueAdministrator" })" class="btn btn-default"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Nightlife</a>
        <a href="@Url.Action("SearchByGroup", "Venues", new { id = "Shopping", Area = "VenueAdministrator" })" class="btn btn-default"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Shopping</a>
    </div>
</div>