@using PompeiiSquare.Server.Models
@model PompeiiSquare.Models.Venue
@{
    ViewBag.Title = Model.Name;
}

@Html.Partial("_VenueDetails", Model)
@Html.Partial("~/Views/Tips/Create.cshtml", new PompeiiSquare.Server.Models.TipBindingModel() { venueId = Model.Id })
@if (!Model.Tips.Any())
{
    <div class="well">
        There are no tips yet. You can write the first one!
    </div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tips</h3>
        </div>
        <div class="panel-body">
            @foreach (var tip in Model.Tips)
        {
        <div class="well">
            <div class="word-wrap">@tip.Text</div>
            <div>
                <span>
                    <span class="glyphicon glyphicon-user"></span> @tip.User.UserName
                </span>
            </div>
            <div class="row delete-edit-tip">
                @Html.ActionLink("Delete", "Delete", "Tip", new
               { @*id = tip.Id,*@ Area = ""
               }, new { @class = "btn btn-danger pull-right" })
                @Html.ActionLink("Edit", "Edit", "Tip", new
               { @*id = tip.Id,*@ Area = "",
               }, new { @class = "btn btn-primary pull-right" })
            </div>
            <div class="like-dislike-box">
                @*<a href="@Url.Action("Like", new { id = Model.Id })" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>*@
                <a href="@Url.Action("Like", "Tips", new { @*id = tip.Id,*@ Area = "" })" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a href="@Url.Action("Dislike", "Tips", new { @*id = tip.Id,*@ Area = "" })" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
            </div>
        </div>
        }
        </div>
    </div>
}