@model IEnumerable<PompeiiSquare.Models.User>
@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Home city</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.HomeCity</td>
            <td>@item.Email</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Users", new { Area = "UserAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Users", new { Area = "UserAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>