@model IEnumerable<PompeiiSquare.Models.Venue>

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Name)</h3>
        </div>
        <div class="panel-body">
            <div class="well">
                <span class="venue-info">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(modelItem => item.Address)</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.Contact): @Html.DisplayFor(modelItem => item.Contact)</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.Location): (@Html.DisplayFor(modelItem => item.Location.Longitude), @Html.DisplayFor(modelItem => item.Location.Latitude))</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.PriceTier): @Html.DisplayFor(modelItem => item.PriceTier)</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(modelItem => item.Description)</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.CreatedAt): @Html.DisplayFor(modelItem => item.CreatedAt)</span>
                <span class="venue-info">@Html.DisplayNameFor(model => model.Likes): @Html.DisplayFor(modelItem => item.Likes)</span>
                <div class="row delete-edit-venue">
                    @* TODO: Check is user owner !!! *@
                    @Html.ActionLink("Delete", "Delete", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-danger pull-right" })
                    @Html.ActionLink("Edit", "Edit", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-primary pull-right" })
                </div>
            </div>
        </div>
    </div>
}