@model IEnumerable<PompeiiSquare.Models.Venue>
@{
    ViewBag.Title = "Venues";
}

@Html.ActionLink("Create new venue", "Create", "Venues", new { Area = "VenueAdministrator" }, new { @class = "btn btn-success btn-lg create-venue" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact</th>
            <th>PriceTier</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Contact</td>
            <td>@item.PriceTier</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => item.Id) }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>