@using PompeiiSquare.Server.Models
@model PompeiiSquare.Models.Venue
@{
    ViewBag.Title = "View Details";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayFor(modelItem => Model.Name)</h3>
    </div>
    <div class="panel-body venue-details-container">
        <div class="well">
            <span class="venue-info">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(modelItem => Model.Address)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.Contact): @Html.DisplayFor(modelItem => Model.Contact)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.PriceTier): @Html.DisplayFor(modelItem => Model.PriceTier)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(modelItem => Model.Description)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.CreatedAt): @Html.DisplayFor(modelItem => Model.CreatedAt)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.Likes): @Html.DisplayFor(modelItem => Model.Likes)</span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.OpenHours):
                @foreach (var openHour in Model.OpenHours)
                {
                    <span>@openHour.Weekday : @openHour.Hours |</span>
                }
            </span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.Groups):
                @foreach (var group in Model.Groups)
                {
                    <span class="label label-primary">@group.Name</span>
                }
            </span>
            <span class="venue-info">@Html.DisplayNameFor(model => model.Tags):
                @foreach (var tag in Model.Tags)
                {
                    <span class="label label-primary">@tag.Name</span>
                }
            </span>
            <div class="row delete-edit-venue">
                @Html.ActionLink("Delete", "Delete", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => Model.Id) }, new { @class = "btn btn-danger pull-right" })
                @Html.ActionLink("Edit", "Edit", "Venues", new { Area = "VenueAdministrator", Id = @Html.DisplayFor(modelItem => Model.Id) }, new { @class = "btn btn-primary pull-right" })
            </div>
            <div>
                <a href="@Url.Action("Like", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                <a href="@Url.Action("Dislike", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Tips/Create.cshtml", new PompeiiSquare.Server.Models.TipBindingModel() { venueId = Model.Id })

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
    </div>
    <div class="panel-body">
        @foreach (var tip in Model.Tips)
        {
            <div class="well">
                <div class="word-wrap">@tip.Text</div>
                <div>
                    <span>
                        <span class="glyphicon glyphicon-user"></span> @tip.User.UserName
                    </span>
                </div>
                <div>
                    <a href="@Url.Action("Like", "Tips", new { id = tip.Id, Area = "" })" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                    <a href="@Url.Action("Dislike", "Tips", new { id = tip.Id, Area = "" })" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                </div>
            </div>
        }
    </div>
</div>